doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='application/javascript', src='/javascripts/jquery.js')
    script(type='application/javascript', src='/javascripts/knockout.js')
  body
    block content